.search-bar {
    background-image: url('../images/search-bar-bachground.png');
    background-size: cover;
    padding: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
}

.search-bar h1 {
    font-size: 3rem;
    margin-bottom: 1.8rem;
    margin-top: 1.2rem;
    font-family: 'monsterrat';
}

.search-bar form {
    font-family: 'euclid';
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.search-bar input[type="text"],
.search-bar button {
    font-family: 'euclid';
    padding: 0.8rem;
    border: none;
    font-size: 1rem;
}

.search-bar input[type="text"] {
    width: 20rem;
    height: 1rem;
    border-radius: 5px;
    margin-left: 1rem;
}

.search-bar button {
    font-size: 1.25rem;
    background-color: transparent;
    border: 2px solid white;
    padding: 0.7rem 1.3rem;
    transition: background-color 0.3s ease; 
    cursor: pointer;
    border-radius: 5px;
}

.search-bar button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
}

.search-bar input[type="checkbox"]
{
    width: 1.25rem;
    height: 1.25rem;
}

.search-bar select
{
    width: 10rem;
    height: 1.7rem;
    font-family: 'euclid';
    font-size: 1rem;
    margin: 0.3rem;
}

.product-container-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}


.product-card {
    height: 90%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column; /* Размещаем элементы сверху вниз */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.product-card-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1; /* задает квадратное соотношение сторон */
    overflow: hidden;
    height: 45%;
    padding: 5%;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 100%;
}

.product-card-body {
    height: 25%; /* Занимает оставшиеся 45% высоты карточки */
    display: flex;
    flex-direction: column;
    justify-content: center ; /* Выравнивание текста по нижнему краю */
    padding: 15px;
}

.product-card-title {
    position: relative;
    color: #822003; 
    background-image: linear-gradient(90deg, red, #822003);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    font-size: 1.33rem;
}

.product-card:hover h5.product-card-title{
    color: #ff3333;
    background-size: 100% 2px;
}

.product-card-body p {
    font-size: 1em;
    color: #555;
}


.product-container-body p {
    color: #822003;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    border: 2px dashed #822003;
}
