.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    margin-right: 10px;
}

.search-button {
    white-space: nowrap;
}
  