# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://autoshop:password1525@cluster0.ctei9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET=some_secret_key_123
JWT_EXPIRES_IN=24h

# Google OAuth
GOOGLE_CLIENT_ID=315462411027-1878iur5h4jpk5hkb0j5uccj6p9nk0vo.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000
#вот данные по гуглу
#https://console.cloud.google.com/apis/credentials?inv=1&invt=AbipRg&organizationId=0&project=autoshop-443023

# Facebook OAuth
FACEBOOK_APP_ID=593409176370465
FACEBOOK_APP_SECRET=21744e6367dcf60dceaf6026b4083e39
FACEBOOK_CALLBACK_URL=http://localhost:3000
#ничерта не понятно как регистрировать. если работать не будет,
#надо посмотреть инструкции в интернете более актуальные
#https://developers.facebook.com/apps/593409176370465/dashboard/

# Client URL
CLIENT_URL=http://localhost:3000
