{% extends 'base_generic.html' %}

{% block content %}
{% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

  <h2>Registration</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
  </form>
{% endblock %}