{% extends "base_generic.html" %}
{% load static %}
{% block content %}

    <h1>About us</h1>
    <section>
      <div>
        {% if about_articles %}
          {% for about_article in about_articles %}
            <article style="margin:5%">
                <h4>{{ about_article.title }}</h4>
                <img src="{{ about_article.photo.url }}" alt="Photo" style="max-width: 40%;">
                <p>{{about_article.text}}</p>
                <p>{{about_article.created_at}}</p>
          </article>
          {% endfor %}
        {% else %}
          <p>There are no info.</p>
        {% endif %}
      </div>
    </section>
    <section>
      <div>
          <h2>Our Story</h2>
          <iframe width="100%" height="400" src="https://www.youtube.com/embed/rU79a0xkfYg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>
    <section>
        <div>
            <h2>History by Years</h2>
            <ul>
                <li><strong>2010:</strong> Company founded.</li>
                <li><strong>2015:</strong> Launched our first online store.</li>
                <li><strong>2020:</strong> Expanded product range and services.</li>
                <li><strong>2023:</strong> Reached 1 million customers.</li>
            </ul>
        </div>
    </section>
    <section>
      <div>
          <h2>Company Credentials</h2>
          <p>Our company is registered and certified to ensure the highest quality of service. Here are our details:</p>
          <address>
              <strong>Name:</strong> Auto Parts Store Inc.<br>
              <strong>Address:</strong> 123 Auto St, Car City, CA 12345<br>
              <strong>Email:</strong> info@autopartsstore.com<br>
              <strong>Phone:</strong> +1 (555) 123-4567
          </address>
      </div>
  </section>

  <section>
      <div>
          <h2>Our Certification</h2>
          <img src="{% static 'images/Certificate.png' %}" alt="Certificate" class="certificate-image">
          <p>We are proud to be certified by the Parts Association.</p>
      </div>
  </section>
{% endblock %}