{% extends "base_generic.html" %}

{% block content %}

    <h1>About us</h1>

    <section>
      {% if about_articles %}
        {% for about_article in about_articles %}
          <article style="margin:5%">
              <h4>{{ about_article.title }}</h4>
              <img src="{{ about_article.photo.url }}" alt="Photo" style="max-width: 40%;">
              <p>{{about_article.text}}</p>
              <p>{{about_article.created_at}}</p>
        </article>
        {% endfor %}
      {% else %}
        <p>There are no info.</p>
      {% endif %}
    </section>
{% endblock %}