{% extends "base_generic.html" %}
{% load static %}
{%block extraheader%}
  <link rel="stylesheet" href="{% static 'css/searchbar.css' %} {{ now|date:'U' }}"/>
{%endblock%} 
{% block content %}
<section class="search-bar">
  <h1>
    Categories
  </h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="nav-button">Search</button>
  </form>
</section>
<section class="categories-container">
  {% if categories %}
    {% for category in categories %}
    <div class="category-card">
      <a href="{{ category.get_absolute_url }}"> {{ category.name }} </a>
    </div>
    {% endfor %}
  {% else %}
    <p>There are no categories.</p>
  {% endif %}
</section>




{% endblock %}