{% extends "base_generic.html" %}
{% load static %}
{%block extraheader%}
<link rel="stylesheet" href="{% static 'css/demo.css' %} {{ now|date:'U' }}" />
<link rel="stylesheet" href="{% static 'css/timer.css' %} {{ now|date:'U' }}" />
<script src="{% static 'scripts/timer.js' %} {{ now|date:'U' }}"></script>
{%endblock%} 
{% block content %}

<section>
  <div class="timer-container">
    <div class="timer">
      <span class="time" id="hours">00</span>ч
      <span class="time" id="minutes">00</span>м
      <span class="time" id="seconds">00</span>с
    </div>
  </div>
</section>
<section>
  
</section>
<section>
  
</section>
<section>
  
</section>
<section>
  
</section>
{%endblock%}