{% extends "base_generic.html" %}
{% load static %}
{%block extraheader%}
  <link rel="stylesheet" href="{% static 'css/searchbar.css' %} {{ now|date:'U' }}"/>
  <link rel="stylesheet" href="{% static 'css/employees_js.css' %} {{ now|date:'U' }}"/>
  <script src="{% static 'scripts/employees.js' %}"></script>
{%endblock%} 
{% block content %}
<section class="search-bar">
  <h1>Employees</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="nav-button">Search</button>
  </form>
</section>

<section class="search-container">
  <div class="search-form">
    <input type="text" id="search-input" placeholder="Введите текст для поиска">
    <button id="search-button">Поиск</button>
  </div>
</section>

<section class="employee-container">
  <div class="employee-container-body">
    {% if employees %}
      <table class="employee-table">
        <thead>
          <tr>
            <th>Photo</th>
            <th onclick="sortTable(1)">Full Name</th>
            <th onclick="sortTable(2)">Job Description</th>
            <th onclick="sortTable(3)">Email</th>
            <th onclick="sortTable(4)">Phone</th>
            <th onclick="sortTable(5)">URL</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employees %}
            <tr data-employee-id="{{ employee.id }}" class="employee-row" data-included="on" onclick="toggleDetails(this)">
              <td><img src="{{ employee.profile.photo.url }}" alt="Photo" class="employee-img" style="width: 50px; height: 50px;"/></td>
              <td>{{ employee.first_name }} {{ employee.last_name }}</td>
              <td>{{ employee.profile.job_description }}</td>
              <td>{{ employee.email }}</td>
              <td>{{ employee.profile.phone_number }}</td>
              <td>{{ employee.profile.url }}</td>
              <td><input type="checkbox" name="employee_select" value="{{ employee.id }}"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination" id="pagination"></div>
    {% else %}
      <p>There are no employees.</p>
    {% endif %}
  </div>
  <div id="employee-details" class="employee-details" style="display: none;">
    <h3>Employee Details</h3>
    <div id="employee-info">
    </div>
  </div>
</section>

<section class="add-employee-container">
  <button id="add-employee-btn">Добавить сотрудника</button>
  <div id="add-employee-form" style="display: none;">
    <h3>Добавить сотрудника</h3>
    <form id="employee-form">
      <label for="full-name">ФИО:</label>
      <input type="text" id="full-name" required><br>

      <label for="job-desc">Описание работы:</label>
      <input type="text" id="job-desc" required><br>

      <label for="email">Email:</label>
      <input type="email" id="email" required><br>

      <label for="phone">Телефон:</label>
      <input type="text" id="phone" required><br>

      <label for="url">URL:</label>
      <input type="text" id="url" required><br>

      <label for="photo">Фото:</label>
      <input type="file" id="photo" accept="image/*" required><br>

      <button type="submit">Добавить в таблицу</button>
    </form>
    <p id="validation-message"></p>
  </div>
</section>


{% endblock %}
