{% extends "base_generic.html" %}

{% block content %}
    <h1>Frequently asked questions</h1>
      <section>
        <div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Search</button>
          </form>
        </div>
      </section>
      <section>
        {% if faqs %}
          {% for faq in faqs %}
          <article>
            <details>
              <summary>
                <strong>{{ faq.title }}</strong>
              </summary>
              <p><strong>Question:</strong> {{ faq.question }}</p> 
              <p><strong>Answer:</strong> {{ faq.text }}</p> 
              <p><strong>{{ faq.created_at }}</strong></p> 
            </details>
          </article>
          {% endfor %}
        {% else %}
          <p>There are no questions.</p>
        {% endif %}
      </section>
{% endblock %}