{% extends "base_generic.html" %}
{% load static %}
{%block extraheader%}
  <link rel="stylesheet" href="{% static 'css/searchbar.css' %} {{ now|date:'U' }}"/>
  <link rel="stylesheet" href="{% static 'css/faq_list.css' %} {{ now|date:'U' }}"/>
{%endblock%} 
{% block content %}
  <section class="search-bar">
    <h1>
      Frequently asked questions
    </h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="nav-button">Search</button>
    </form>
  </section>
  <section class="faq-container">
    <div class="faq-container-body">
      {% if faqs %}
        {% for faq in faqs %}
        <div class="faq-card-container">
          <div class="faq-card">
            <details>
              <summary>
                <strong>{{ faq.title }}</strong>
              </summary>
              <p><strong>Question:</strong> {{ faq.question }}</p> 
              <p><strong>Answer:</strong> {{ faq.text }}</p> 
              <p><strong>{{ faq.created_at }}</strong></p> 
            </details>
          </div>
        </div>
        {% endfor %}
      {% else %}
      <p>There are no questions.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}