{% extends "base_generic.html" %}

{% block content %}
    <h1>News</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
    </form>

    {% if news_articles %}
    <ul>
      {% for article in news_articles %}
      <li style="margin-bottom: 5%;">
        <h4>{{ article.title }}</h4>
        <p>{{ article.text|truncatechars:100 }}</p>
        <a href="{{ article.get_absolute_url}}">Read Source</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no employees.</p>
    {% endif %}
{% endblock %}

