{% extends "base_generic.html" %}
{% load static %}
{%block extraheader%}
  <link rel="stylesheet" href="{% static 'css/product_list.css' %} {{ now|date:'U' }}"/>
{%endblock%} 
{% block content %}
  <section class="search-bar">
    <h1>
      News
    </h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="nav-button">Search</button>
    </form>
  </section>
  <section class="article-container">
    <div class="article-container-body">
      {% if news_articles %}
        {% for article in news_articles %}
          <div class="article-card">
            <img src="{{ article.photo.url }}" class="article-img" alt="..." style="max-width: 25%"/>
            <div class="article-card-body">
              <h5 class="article-card-title">{{ article.title }}</h5>
              <p class="article-card-text">{{ article.text|truncatechars:100 }}</p>
            </div>
            <a href="{{ article.get_absolute_url}}">Read Source</a>
          </div>
        {% endfor %}
      {% else %}
        <p>There is no news</p>
      {% endif %}
    </div>
  </section>
{% endblock %}

