{% extends "base_generic.html" %}

{% block content %}
    <h1>Cart</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
    </form>

    {% if orders %}
    <ul>
      {% for order in orders %}
      <li>
          <a href="{{ order.get_absolute_url }}">
            <div>
              <img src="{{ order.product.image.url }}" alt="{{ order.product.name }}">
              <h3>{{ order.product.name }}</h3>
              <p>Price: "{{ order.total_price }}"</p>
              <p>Amount: {{ order.quantity }}</p>
              <form method="get" action="{% url 'order_edit' order.id%}">
                {% csrf_token %}
                <button type="submit">Edit</button>
              </form>
              <form method="post" action="{% url 'order_delete' order.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
              <a href="{% url 'order_confirm' order.id%}">Confirm</a>
            </div>
          </a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no orders.</p>
    {% endif %}
{% endblock %}