{% extends "base_generic.html" %}

{% block content %}
<section>
  <h1>Order Details</h1>
  <p><a href="{{ supplier.get_absolute_url }}">{{ supplier.name }} </a></p>
  <p><strong>Product: </strong><a href="{{ order.product.get_absolute_url }}">{{ order.product.name }} </a></p>
  <p><strong>Quantity: {{ order.quantity }}</strong></p>
  <p><strong>Date: {{ order.date }}</strong></p>
  <p><strong>Customer: {{ order.customer }}</strong></p>
  <p><strong>Pickup point: </strong><a href="{{ order.pickup_point.get_absolute_url }}">{{ order.pickup_point.address }} </a></p>
  <p><strong>Total Price: {{ order.total_price }}</strong></p>
  {%if order.promocode%}
  <p><strong>Promo code: {{ order.promocode.code }}</strong></p>
  {%endif%}
</section>
{% endblock %}