{% extends "base_generic.html" %}

{% block content %}
    <h1>Pickup points</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
    </form>

    {% if user.is_authenticated %}
    <div style="margin-top:3%;margin-bottom:3%">
      <form action="{% url 'pickup_point_create' %}" method="get">
        {% csrf_token %}
        <button type="submit">Create pickup point</button>
      </form>
    </div>
    {% endif %}

 

    {% if pickup_points %}
    <ul>
      {% for pickup_point in pickup_points %}
      <li>
        <a href="{{ pickup_point.get_absolute_url }}">{{ pickup_point.name }} </a> ({{pickup_point.phone_number}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no pickup points.</p>
    {% endif %}
{% endblock %}