{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ product.name }}</h1>

  <p><strong>Article number:</strong> {{ product.article_number }}</p> <!-- author detail link not yet defined -->
  <p><strong>Price per unit:</strong> {{ product.price_per_unit }}</p>
  <p><strong>Category:</strong> <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a> </p> 
  <p><strong>Count:</strong> {{ product.count }}</p>
  <p><strong>Suppliers:</strong>
    {% for supplier in product.suppliers.all %}
      {% if user.is_staff %}
        <p><a href="{{ supplier.get_absolute_url }}">{{ supplier.name }} </a></p>
      {% elif user.is_anonymous %}
        <p>{{ supplier.name }}</p>
      {% endif %}
    {% endfor %}
  </p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Description:</h4>
    <p>{{product.description}}</p>
  </div>

  {% if user.is_authenticated %}
    <a href="{% url 'order_create' product_id=product.id %}" class="button">Place an order</a>
  {% endif %}
{% endblock %}
