{% extends "base_generic.html" %}

{% block content %}
    <section>
      <h2>Promocodes</h2>
    </section>
    <section>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
      </form>
    </section>
    <section class="promo-container">
      <div class="promo-container-header">
        <h3 style="margin-top: 3%;">Current promocodes: </h3>
      </div>
      <div class="promo-container-body">
        {% if  valid_promocodes%}
          {% for promo in valid_promocodes %}
          <div class="promo-card">
            <div class="promo-card-header">
              <p class="promo-card-title"><strong>{{promo.code}}</strong></p>
            </div>
            <div class="promo-card-body">
              <div>
                <img src="{{promo.image.url}}" class="promo" alt="..." style="max-width: 25%"/>
              </div>
              <p class="promo-card-text"><strong>Discount: </strong> {{promo.discount}}</p>
              <p class="promo-card-text"><strong>Expiration date</strong> {{promo.expiration_date}}</p>
              <p class="promo-card-text"><strong></strong> {{promo.created_at}}</p>
            </div>
          </div>
          {% endfor %}
        {% else %}
        <p>There are no valid promocodes.</p>
        {% endif %}
    </section>
    <section class="promo-container">
      <div class="promo-container-header">
        <h3 style="margin-top: 3%;">Promo code archive : </h3>
      </div>
      <div class="promo-container-body">
        {% if  invalid_promocodes%}
          {% for promo in invalid_promocodes %}
          <div class="promo-card">
            <div class="promo-card-header">
              <p class="promo-card-title"><strong>{{promo.code}}</strong></p>
            </div>
            <div class="promo-card-body">
              <div>
                <img src="{{promo.image.url}}" class="promo" alt="..." style="max-width: 25%"/>
              </div>
              <p class="promo-card-text"><strong>Discount: </strong> {{promo.discount}}</p>
              <p class="promo-card-text"><strong>Expiration date</strong> {{promo.expiration_date}}</p>
              <p class="promo-card-text"><strong></strong> {{promo.created_at}}</p>
            </div>
          </div>
          {% endfor %}
        {% else %}
        <p>There are no valid promocodes.</p>
        {% endif %}
    </section>
{% endblock %}