{% extends "base_generic.html" %}

{% block content %}
    <h1>Reviews</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
    </form>
    <div style="margin-top:3%;margin-bottom:3%">
      <form action="{% url 'review_create' %}" method="get">
        {% csrf_token %}
        <button type="submit">Create review</button>
      </form>
    </div>
    {% if reviews %}
    <ul>
      {% for review in reviews %}
      <li>
        <a href="{{ review.get_absolute_url }}">{{ review.title }}</a> -- {{review.rating}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no reviews.</p>
    {% endif %}
{% endblock %}