{% extends "base_generic.html" %}
{% block content %}
    <section>
      <h2>Reviews</h2>
    </section>
    <section>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
      </form>
    </section>
    <section>
      <div>
        <form action="{% url 'review_create' %}" method="get">
          {% csrf_token %}
          <button type="submit">Create review</button>
        </form>
      </div>
    </section>
    <section class="review-container">
      <div class="review-container-header">
        <h3 style="margin-top: 3%;">Previous feedback: </h3>
      </div>
      <div class="review-container-body">
        {% if reviews %}
          {% for review in reviews %}
              <div class="review-card">
                <div class="review-card-header">
                  <p class="review-card-title"><strong>{{review.title}}</strong></p>
                </div>
                <div class="review-card-body">
                  <p class="review-card-author">User: {{review.user.username}}</p>
                  <p class="review-card-rating">Rating: {{review.rating}}</p>
                  <p class="review-card-text">{{review.text}}</p>
                  <p class="review-card-created-at">{{review.created_at}}</p>
                </div>
              </div>
          {% endfor %}
        {% else %}
          <p>No reviews</p>
        {% endif %}
    </section>    

{% endblock %}