{% extends "base_generic.html" %}

{% block content %}
    <h1>Suppliers</h1>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Search</button>
    </form>

    {% if suppliers %}
    <ul>
      {% for supplier in suppliers %}
      <li>
        <a href="{{ supplier.get_absolute_url }}">{{ supplier.name }} </a> ({{supplier.phone}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no manufacturers.</p>
    {% endif %}
{% endblock %}