{% extends "base_generic.html" %}
{% load static %}
{%block extraheader%}
  <link rel="stylesheet" href="{% static 'css/searchbar.css' %} {{ now|date:'U' }}"/>
{%endblock%} 
{% block content %}
  <section class="search-bar">
    <h1>
      Suppliers
    </h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="nav-button">Search</button>
    </form>
  </section>
  <section class="supplier-container">
    <div class="supplier-container-body">
      {% if suppliers %}
        {% for supplier in suppliers %}
        <div class="supplier-card">
          <a href="{{ supplier.get_absolute_url }}">{{ supplier.name }} </a> ({{supplier.phone}})
        </div>
        {% endfor %}
      {% else %}
        <p>There are no manufacturers.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}