{% extends "base_generic.html" %}

{% block content %}
<section>
  <div>
    <h1>Vacancy: {{ vacancy.title }}</h1>
  </div>
  <div>
    <img src="{{vacancy.image.url}}" class="vacancy-img" alt="..." style="max-width: 25%"/>
  </div>
  <div>
    <p><strong>Description:</strong> {{vacancy.description}}</p>
    <p><strong>Requirements:</strong> {{ vacancy.requirements}}</p>
    <p><strong>Responsibilities:</strong> {{ vacancy.responsibilities}}</p>
    <p><strong>Location:</strong> {{ vacancy.location}}</p>
    <p><strong>Salary:</strong> {{ vacancy.salary}}</p>
    <p><strong>Publishing date:</strong> {{ vacancy.created_at}}</p>
  </div>
</section>
{% endblock %}