{% extends "base_generic.html" %}

{% block content %}
  <h1>Vacancy: {{ vacancy.title }}</h1>
  <div style="margin-left:20px;margin-top:20px">
    <p><strong>Description:</strong> {{vacancy.description}}</p>
    <p><strong>Requirements:</strong> {{ vacancy.requirements}}</p>
    <p><strong>Responsibilities:</strong> {{ vacancy.responsibilities}}</p>
    <p><strong>Location:</strong> {{ vacancy.location}}</p>
    <p><strong>Salary:</strong> {{ vacancy.salary}}</p>
    <p><strong>Publishing date:</strong> {{ vacancy.created_at}}</p>

</div>

{% endblock %}