{% extends "base_generic.html" %}
{% load static %}
{%block extraheader%}
  <link rel="stylesheet" href="{% static 'css/searchbar.css' %} {{ now|date:'U' }}"/>
  <link rel="stylesheet" href="{% static 'css/vacancies.css' %} {{ now|date:'U' }}"/>
{%endblock%} 
{% block content %}
    <section class="search-bar">
      <h1>
        Vacancies
      </h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="nav-button">Search</button>
      </form>
    </section>
    <section class="vacancy-container">
      <div class="vacancy-container-header">
          <h3>We are pleased to welcome into our ranks such specialists as:</h3>
      </div>
      <div class="vacancy-container-body">
          {% if vacancies %}
              {% for vacancy in vacancies %}
                  <div class="vacancy-card">
                      <img src="{{vacancy.image.url}}" class="vacancy-img" alt="Vacancy image" />
                      <div class="vacancy-card-body">
                          <h5 class="vacancy-card-title">{{vacancy.title}}</h5>
                          <p class="vacancy-card-text">{{vacancy.description|truncatechars:150 }}</p>
                          <a href="{{vacancy.get_absolute_url}}" class="vacancy-details-link">Further details</a>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
              <p>No vacancies available</p>
          {% endif %}
      </div>
  </section>  
{% endblock %}